<%- include('./partials/header.ejs') %>
    <div class="content">
        <h1>About</h1>
        <h3>This is BJ Trading's official site to trade items and allows user to delete item and update item details. </h3>
        <h3>The website is created by Bob Ji for course ITIS 5166 use only.</h3>
    </div>
<%- include('./partials/footer.ejs') %>